{{!< page}}

{{#contentFor "search-field"}}
  <!-- search input goes here -->
  <input type="search" id="searchBox">
{{/contentFor}}

{{#contentFor "search-results"}}
  <!-- results wrapper goes here -->
  <div id="search-results-wrapper"></div>
{{/contentFor}}

{{#contentFor "scripts"}}
<!-- Start of Site Search 360 script (put right before the closing </body> tag) -->
<script type="text/javascript">
window.ss360Config = {
    style: {
        themeColor: "#15202B",
        searchBox: {
            border: {
                color: "#FFFFFF",
                radius: "20px"
            },
            text: {
                color: "#FFFFFF",
                size: "16px"
            },
            background: {
                color: "#15202B"
            },
            padding: "12px",
            icon: {
                image: "magnifier",
                color: "#C2C2C2"
            },
            button: {
                text: " ",
                icon: "magnifier",
                color: "#C2C2C2",
                iconPadding: "8px"
            }
        },
        loaderType: "circle",
        animationSpeed: 500
    },
    tracking: {
        providers: []
    },
    dataPoints: {
        exclude: [],
        single: []
    },
    siteId: "casperblue.devops10.com",
    suggestions: {
        show: false
    },
    searchBox: {
        placeholder: "Search...",
        selector: "",
        searchButton: "#ss360SearchButton"
    },
    results: {
        fullScreenConfig: {
            trigger: "#ss360-trigger",
            caption: "Search this site"
        },
        num: "8",
        linksOpenNewTab: true,
        moreResultsPagingSize: "8",
        moreResultsButton: null
    },
    layout: {
        mobile: {
            type: "grid",
            showUrl: true,
            gridColsMd: 1
        },
        desktop: {
            type: "grid",
            showUrl: true,
            gridColsXl: 3
        },
        imageOverTitle: true,
        navigation: {
            position: "top"
        }
    },
    showErrors: false
};

var e=document.createElement("script");
e.type="module";
e.src="https://cdn.sitesearch360.com/sitesearch360-v12.mjs";
document.getElementsByTagName("body")[0].appendChild(e);

e=document.createElement("script");
e.type="text/javascript";
e.async=!0;
e.setAttribute("nomodule", "nomodule");
e.src="https://cdn.sitesearch360.com/sitesearch360-v12.min.js";
document.getElementsByTagName("body")[0].appendChild(e);
</script>
<!-- End of Site Search 360 script -->

{{/contentFor}}